@model List<MVC_Producr.Models.ViewModels.ProductViewModel>


@{
}

<form method="get" action="Get_products">
<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ProductName</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ItemName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>
</form>