@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="Buttons">
<button type="submit" onclick="location.href='@Url.Action("Post","Admin")'"  class="btn btn-primary btn-group-lg btn-block">AddProduct</button>
<button style='margin-left:700px' type="button" onclick="location.href='@Url.Action("Index","Admin")'" class="btn  btn-secondary btn-group-lg btn-block">Data History</button>
<button style='margin-left:900px' type="button" onclick="location.href='@Url.Action("Index","Home")'" class="btn  btn-secondary btn-group-lg btn-block">Go Home Page</button>


</div>






