@model MVC_Producr.Models.ViewModels.CreateProductViewModel
@{

}
<form method="post" action="Add_Product">
    <div class="form-group">
        <label for="text">Product Name</label>
        <input type="text" class="form-control" asp-for="ItemName">
        <small class="form-text text-muted">Input Product name.</small>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" asp-for="Quantity">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" asp-for="Price">
    </div>    <h1></h1>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" 
            onclick="location.href='@Url.Action("Get","Admin")'" 
            class="btn btn-info">Back</button>

    

</form>