@model List<MVC_Producr.Models.Domain.Entities.Product>
@{
}

<h1>Products</h1>

<table class="Table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ItemName</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.ItemName</td>
                <td>@product.Quantity</td>
                <td>@product.Price</td>

            </tr>
        }
    </tbody>
</table>